@model QuanLyKhoThucPham.Models.dskhohangModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>KhoHangModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
<<<<<<< Updated upstream:QuanLyKhoThucPham/Views/dskhohangModels/Edit.cshtml
                <label asp-for="Name" class="control-label">Tên kho</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
=======
                <label asp-for="TenKho" class="control-label"></label>
                <input asp-for="TenKho" class="form-control" />
                <span asp-validation-for="TenKho" class="text-danger"></span>
>>>>>>> Stashed changes:QuanLyKhoThucPham/Views/KhoHang/Edit.cshtml
            </div>
            <div class="form-group">
                <label asp-for="mota" class="control-label"></label>
                <input asp-for="mota" class="form-control" />
                <span asp-validation-for="mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="soluongtong" class="control-label"></label>
                <input asp-for="soluongtong" class="form-control" />
                <span asp-validation-for="soluongtong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="soluongtrong" class="control-label"></label>
                <input asp-for="soluongtrong" class="form-control" />
                <span asp-validation-for="soluongtrong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
