@model QuanLyKhoThucPham.Models.SanPhamModel

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo mới</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenSP" class="control-label">Tên sản phẩm</label>
                <input asp-for="TenSP" class="form-control" />
                <span asp-validation-for="TenSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label">Mô tả</label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label">Số lượng </label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhaSanXuat" class="control-label">Nhà sản xuất</label>
                <input asp-for="NhaSanXuat" class="form-control" />
                <span asp-validation-for="NhaSanXuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGiaNhap" class="control-label">Đơn giá</label>
                <input asp-for="DonGiaNhap" class="form-control" />
                <span asp-validation-for="DonGiaNhap" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
				<a asp-action="Index" class="btn btn-warning">Quay lại</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
