html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
  
}
.khung {
    border: 3px outset blue;
    background-color: lightyellow;
    border-radius: 8px;
    padding: 5px;
    color: black;
}
